<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="name.walnut.kanjian.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!-- 友盟推送权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".support.KanJianApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppBaseTheme" >

        <!-- 启动加载Activity -->
        <activity
            android:name=".ui.LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >

             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>

        <!-- 主界面Activity -->
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="kanjian.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <!-- 注册Activity -->
        <activity
            android:name=".ui.register.RegisterActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="kanjian.intent.action.REGISTER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 登录Activity -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="kanjian.intent.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 找回密码activity -->
        <activity
            android:name=".ui.password.ForgotPasswordActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="kanjian.intent.action.FORGET_PASSWORD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 上传照片Activity -->
        <activity
            android:name=".ui.main.UploadActivity"
            android:screenOrientation="portrait" >
            <!--<intent-filter>-->
                <!--<action android:name="kanjian.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        </activity>

        <!-- 测试Activity -->
        <activity
            android:name=".test.TestActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="test_activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 使用条款和隐私策略activity -->
        <activity
            android:name=".ui.ClauseActivity"
            android:label="@string/title_activity_clause"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="kanjian.intent.action.CLAUSE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="kanjian.intent.action.PRIVACY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 友盟推送 start -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" >
        </receiver>
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="name.walnut.kanjian.app.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.BootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":push" >
            <intent-filter>
                <action android:name="name.walnut.kanjian.app.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="name.walnut.kanjian.app.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="552a96cafd98c5363100087c" >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="3a25099025980c7f1480617735ee6729" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Debug" >
        </meta-data>
        <!-- 友盟推送 end -->


        <!-- 好友请求activity -->
        <activity
            android:name=".ui.my.relation.request.FriendRequestActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_friend_request" >
            <intent-filter>
                <action android:name="kanjian.intent.action.FRIEND_REQUEST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 我的好友activity -->
        <activity
            android:name=".ui.my.relation.friends.FriendsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_friends" >
            <intent-filter>
                <action android:name="kanjian.intent.action.FRIENDS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--添加好友activity-->
        <activity
            android:name=".ui.my.relation.newfriends.NewFriendActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_new_friend" >
            <intent-filter>
                <action android:name="kanjian.intent.action.ADD_FRIENDS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--设置activity-->
        <activity android:name=".ui.my.setting.SettingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="kanjian.intent.action.SETTING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
