<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="name.walnut.kanjian.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".support.KanJianApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppBaseTheme" >

        <!-- 启动加载Activity -->
        <activity
            android:name=".ui.LaunchActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主界面Activity -->
        <activity android:name=".ui.MainActivity" >

            <!--
            <intent-filter>
                <action android:name="kanjian.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
        </activity>

        <!-- 注册Activity -->
        <activity android:name=".ui.register.RegisterActivity" >
            <intent-filter>
                <action android:name="kanjian.intent.action.REGISTER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 登录Activity -->
        <activity android:name=".ui.login.LoginActivity" >
            <intent-filter>
                <action android:name="kanjian.intent.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 找回密码activity -->
        <activity android:name=".ui.password.ForgotPasswordActivity" >
            <intent-filter>
                <action android:name="kanjian.intent.action.FORGET_PASSWORD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 上传照片Activity -->
        <activity android:name=".ui.main.UploadActivity" >
            <intent-filter>
                <action android:name="kanjian.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 测试Activity -->
        <activity android:name=".test.TestActivity" >
            <intent-filter>
                <action android:name="test_activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ClauseActivity"
            android:label="@string/title_activity_clause" >
            <intent-filter>
                <action android:name="kanjian.intent.action.CLAUSE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="kanjian.intent.action.PRIVACY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
